<!DOCTYPE html>
<html class="no-js">

<head>
	<meta charset="utf-8" />
	<script src="/om14-head.js"></script>
	<link rel="stylesheet" href="/om14.css" />
	<title><% if (title) { %><%= title %> – <% } %>openmind #om14</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>

<nav><ul>
	<li><a href="/">Veranstaltung</a></li>
	<li><a href="/impressum/">Impressum</a></li>
</ul></nav>

<div id="header">
	<div id="logo"><img src="/img/fist.png" alt="om14 Logo nach oben gestreckte Faust" width="224" height="240" /><div id="hashtag">#om14</div><div id="claim">macht doch anders!</div></div>
</div>

<div id="content">
<%= contents %>
</div>
<script src="/om14-foot.js"></script>
</body>

</html>
