<!DOCTYPE html>
<html class="no-js">

<head>
	<meta charset="utf-8" />
	<script src="/om14-head.js"></script>
	<link rel="stylesheet" href="/om14.css" />
	<title><% if (title) { %><%= title %> – <% } %>openmind #om14</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png" />
	<link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png" />
	<link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png" />
	<link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png" />
	<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png" />
	<link rel="icon" type="image/png" href="/favicon-196x196.png" sizes="196x196" />
	<link rel="icon" type="image/png" href="/favicon-160x160.png" sizes="160x160" />
	<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
	<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
	<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
	<meta name="msapplication-TileColor" content="#00a300" />
	<meta name="msapplication-TileImage" content="/mstile-144x144.png" />
</head>

<body>

<nav><ul class="inline">
	<li><a href="/">Veranstaltung</a></li>
	<li><a href="/impressum/">Impressum</a></li>
</ul></nav>

<div id="header">
	<div id="logo"><img src="/img/fist.png" alt="om14 Logo nach oben gestreckte Faust" width="224" height="240" /><div id="hashtag">#om14</div><div id="claim">macht doch anders!</div></div>
</div>

<div id="content">
<%= contents %>
</div>

<div id="buttons"><ul class="inline">
	<li><a href="https://twitter.com/openmindkonf" class="btn-twitter">Twitter</a></li>
	<li><a href="https://www.facebook.com/openmind.konferenz" class="btn-fb">Facebook</a></li>
	<li><a href="https://plus.google.com/118100230661845993722/posts" class="btn-gplus">Google+</a></li>
</ul></div>
<script src="/om14-foot.js"></script>
<% if (title) { %><script>_paq.push(["setDocumentTitle", "<%= title %>"]);</script><% } %>
<noscript><img src='http://stats.openmind-konferenz.de/piwik/piwik.php?idsite=1&rec=1&_cvar=%7B%221%22%3A%5B%22hasJS%22%2C%22no%22%5D%2C%222%22%3A%5B%22hasCanvas%22%2C%22no%22%5D%7D' style="border:0;" alt="" /></noscript>
</body>

</html>
