{% extends 'om14-shop.twig' %}
{% set title = "Fehler #{code}" %}
{% block content %}
    <h1>{{ h1(title) }}</h1>
    {% if code == 404 %}
        <p>Wo auch immer du den Link her hast: Diese Adresse gibt es nicht.</p>
    {% else %}
        <p>Okay, hier gab es wohl ein technisches Problem. Keine Sorge, wir wurden bereits benachrichtigt und werden uns darum kümmern.</p>
    {% endif %}
    <p>Zurück <a href="/shop/">zum Shop</a> oder <a href="/">zur Startseite</a> der #om14. Oder <a href="/kontakt/">kontaktiere uns</a>.</p>
{% endblock %}
