@import "normalize.scss";

$lightGreen: #9aceac; // background, logo background
$headerGreen: #2fac66;
$footerGreen: #2f9e54;
$headingGreen: #5bb278;
$claimGreen  : #0b8e36;
$bubbleGreen   : #48af70;
$bubbleTopGreen: #6bbf8d;
$bubbleBotGreen: $headingGreen;
$bubbleTxtGreen: #75bf90;
$orange: #f39200;
$white : #fff;
$textColor: #3d433f;

@mixin politics {
	font: {
		family: "Politics Head"; // TODO: Webfont.
	}
}

@mixin dejaweb {
	font: {
		family: "DejaWeb"; // TODO: Webfont.
	}
}

body {
	background: $lightGreen;
	font-family: sans-serif;
	padding: 0;
}

nav {
	@include politics;
	background: $headerGreen;
	font-size: 18px;
	line-height: 40px;

	ul {
		margin: 0;
		padding: 0;
		text-align: center;
	}

	li {
		// TODO: There is a space between the <li>s. Get rid of that.
		display: inline;

		a {
			display: inline-block;
			color: $white;
			text-decoration: none;
			text-transform: uppercase;
			padding: 0 20px;
			&:hover {
				background-color: $orange;
			}
		}
	}
}

#header {
	height: 400px;
	background: {
		color: #000;
		position: 50% 50%;
		repeat: no-repeat;
	}
	html.no-js &, html.no-canvas & {
		background: {
			image: url("/img/header-fallback.jpg");
			size: cover;
		}
	}
	canvas {
		image-rendering: optimizeSpeed;
		image-rendering: -moz-crisp-edges;
		image-rendering: -webkit-optimize-contrast;
		image-rendering: -o-crisp-edges;
		image-rendering: crisp-edges;
		-ms-interpolation-mode: nearest-neighbor;
	}
}

#content {
	@include dejaweb;
	width: 940px;
	margin: 0 auto;
	color: $textColor;
}

h1 {
	@include politics;
	text-align: center;
	margin: 40px 0;

	span.wrapper {
		display: inline-block;
		max-width: 50%;
		padding: 14px 25px;
		background: $orange;
		color: $white;
	}
}

h2 {
	@include politics;
	color: #000;
}
